{% include "components/alerts.html" %}
<div class="px-8 py-6 text-white">
    <div class="flex justify-between items-center pb-4 border-b border-white/10">
        <h2 class="text-xs tracking-widest text-gray-400 uppercase">
            Account Information
        </h2>
    </div>

    <div class="max-w-5xl mx-auto">
        <div class="mt-6 pb-6 grid grid-cols-1 md:grid-cols-2 items-start border-b border-white/5">
            <!-- Display user's email address. -->
            <div>
                <p class="text-sm text-gray-400 uppercase mb-2">Email Address</p>
                <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
                    <p class="text-gray-200"><strong>{{ email }}</strong></p>
                </div>
            </div>

            <!-- Display user's username and option to change. -->
            <div>
                <p class="text-sm text-gray-400 uppercase">Username</p>
                <form method="POST" action="{% url 'update_user' %}" class="flex items-center gap-3">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="username">
                    <input type="hidden" name="next" value="{% url 'account' %}?tab=settings">
                    <input id="username" type="text" name="username" value="{{ username }}" class="flex-1 bg-transparent border-b border-white/20 py-2 text-gray-200 font-bold focus:outline-none focus:border-[#06b6d4]"/>
                    <button type="submit" class="px-4 py-2 text-[#06b6d4] hover:underline whitespace-nowrap">
                        Change Username
                    </button>
                </form>
            </div>
        </div>

        <!-- Allow user to change password. -->
        <div class="mt-6 pb-6 border-b border-white/5">
            <p class="text-sm text-gray-400 uppercase mb-2">Password</p>
            <form method="POST" action="{% url 'update_user' %}" class="flex flex-col sm:flex-row sm:items-end gap-8">
                {% csrf_token %}
                <input type="hidden" name="type" value="password">
                <input type="hidden" name="next" value="{% url 'account' %}?tab=settings">
        
                    <label for="login-password" class="flex flex-col flex-1">
                        <span class="text-sm text-gray-500 mb-2">New Password</span>
                        <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
                            <input type="password" name="password1" class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="***********" />
                        </div>
                    </label>
                    <label for="login-password" class="flex flex-col flex-1">
                        <span class="text-sm text-gray-500 mb-2">Confirm Password</span>
                        <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
                            <input type="password" name="password2" class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="***********" />
                        </div>
                    </label>
                    <button type="submit" class="px-4 py-2 text-[#06b6d4] hover:underline whitespace-nowrap">Change Password</button>
            </form>
        </div>
    </div>
    <div class="mt-20 flex justify-between items-center pb-4 border-b border-white/10">
        <h2 class="text-xs tracking-widest text-gray-400 uppercase">
            Delete Account
        </h2>
    </div>

    <div class="max-w-5xl mx-auto">
        <p class="inline-flex items-center rounded-full bg-rose-100 px-4 py-1 mt-6 text-rose-600">
        <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
        </svg>
        Proceed with caution
        </p>
        <p class="mt-2">We will completely wipe your data. There is no way to access your account after this action.</p>
        <button type="submit" id="show-delete-modal" class="ml-auto mt-4 text-lg font-semibold text-rose-600 decoration-2 hover:underline">Continue with deletion</button>
    </div>

    <div id="delete-modal" class="hidden fixed inset-0 bg-black/50 flex items-center justify-center z-50">
        <div class="flex flex-col items-center bg-white shadow-md rounded-xl py-6 px-5 md:w-[460px] w-[370px] border border-gray-200">
            <div class="flex items-center justify-center p-4 bg-red-100 rounded-full">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.875 5.75h1.917m0 0h15.333m-15.333 0v13.417a1.917 1.917 0 0 0 1.916 1.916h9.584a1.917 1.917 0 0 0 1.916-1.916V5.75m-10.541 0V3.833a1.917 1.917 0 0 1 1.916-1.916h3.834a1.917 1.917 0 0 1 1.916 1.916V5.75m-5.75 4.792v5.75m3.834-5.75v5.75" stroke="#DC2626" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <h2 class="text-gray-900 font-semibold mt-4 text-xl">Are you sure?</h2>
            <p class="text-sm text-gray-600 mt-2 text-center">
                Do you really want to continue? This action<br>cannot be undone.
            </p>
            <form method="POST" action="{% url 'delete_user' %}">
                {% csrf_token %}
                <div class="flex items-center justify-center gap-4 mt-5 w-full">
                <button type="button" id="cancel-delete" class="w-full md:w-36 h-10 rounded-md border border-gray-300 bg-white text-gray-600 font-medium text-sm hover:bg-gray-100 active:scale-95 transition">
                    Cancel
                </button>
                    <button type="submit" class="w-full md:w-36 h-10 rounded-md text-white bg-red-600 font-medium text-sm hover:bg-red-700 active:scale-95 transition">
                        Confirm
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const openBtn = document.getElementById("show-delete-modal");
    const modal = document.getElementById("delete-modal");
    const cancelBtn = document.getElementById("cancel-delete");

    openBtn.addEventListener("click", function () {
        modal.classList.remove("hidden");
    });

    cancelBtn.addEventListener("click", function () {
        modal.classList.add("hidden");
    });
    
</script>