{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
  <title>CineLog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/output.css' %}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


  <!-- Use Alpine JS and Bootstrap -->
  <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</head>

<style>
  /* --- Footer --- */
  .site-footer {
    background-color: #111111;
    border-top: 2px solid #2A2A2A;
    text-align: center;
    padding: 20px;
    color: #555;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  nav a {
    text-decoration: none !important;
  }
</style>

<body class="bg-black text-white min-h-screen flex flex-col">
  <header class="relative inset-x-0 top-0 z-50">

    <!--Navigation bar.-->
    <nav aria-label="Global" class="flex items-center justify-between p-6 lg:px-8">
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">Cinelog</span>
          <img src="{% static 'images/logo.jpg' %}" class="h-10 w-auto" alt="logo">
        </a>
      </div>
      <div class="flex lg:hidden">
        <button type="button" command="show-modal" commandfor="mobile-menu"
          class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-white">
          <span class="sr-only">Open main menu</span>
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon"
            aria-hidden="true" class="size-6">
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-20">
        <a href="{% url 'watchlist' %}" class="font-semibold text-white hover:text-[#d0f0fd]">Watchlist</a>
        <a href="{% url 'movies' %}" class="font-semibold text-white hover:text-[#d0f0fd]">Movies</a>
        <a href="#" class="font-semibold text-white hover:text-[#d0f0fd]">Account</a>
        <a href="{% url 'library' %}" class="font-semibold text-white hover:text-[#d0f0fd]">My Library</a>
        <!-- {% if user.is_authenticated %}-->
        <!-- {% endif %}-->
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        {% if is_authenticated %}
        <!-- Logout Button -->
        <form action="{% url 'logout' %}" method="POST" class="m-0">
          {% csrf_token %}
          <button type="submit"
            class="rounded-md bg-[#027d96] px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-[#7699A9] focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Logout</button>
        </form>
        {% else %}
        <!-- Login Button -->
        <a href="{% url 'login' %}"
          class="rounded-md bg-[#027d96] !px-3 !py-2 text-sm font-semibold text-white shadow-xs hover:bg-[#7699A9] focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign
          In</a>
        {% endif %}
      </div>
    </nav>
    <el-dialog>

      <!--Create hamburger bar when screen is smaller.-->
      <dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
        <div tabindex="0" class="fixed inset-0 focus:outline-none">
          <el-dialog-panel
            class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white p-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
              <a href="" class="-m-1.5 p-1.5">
                <span class="sr-only">CineLog</span>
                <img src="{% static 'images/logo.jpg' %}" class="h-10 w-auto" alt="logo">
              </a>
              <button type="button" command="close" commandfor="mobile-menu"
                class="-m-2.5 rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Close menu</span>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon"
                  aria-hidden="true" class="size-6">
                  <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
            </div>
            <div class="mt-6 flow-root">
              <div class="-my-6 divide-y divide-gray-500/10">
                <div class="space-y-2 py-6">
                  <a href="{% url 'watchlist' %}"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Watchlist</a>
                  <a href="{% url 'movies' %}"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Movies</a>
                  <a href="#"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Account</a>
                </div>
                <div class="py-6">
                  {% if is_authenticated %}
                  <!-- Logout Button -->
                  <form action="{% url 'logout' %}" method="POST" class="m-0">
                    {% csrf_token %}
                    <button type="submit"
                      class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Log
                      out</button>
                  </form>
                  {% else %}
                  <!-- Login Button -->
                  <a href="{% url 'login' %}"
                    class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Log
                    in</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </el-dialog-panel>
        </div>
      </dialog>
    </el-dialog>
  </header>

  <!--Content for other pages.-->
  <main class="flex-grow">
    {% block content %}

    {% endblock %}
  </main>

  <!--Teal color on page.-->
  <div aria-hidden="true"
    class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
    <div
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      class="relative left-[calc(50%+3rem)] aspect-1155/678 w-144.5 -translate-x-1/2 bg-linear-to-tr from-[#027d96] to-[#5bd3e6] opacity-30 sm:left-[calc(50%+36rem)] sm:w-288.75">
    </div>
  </div>

  <footer class="site-footer">
    &copy; 2026 Team 7
  </footer>

</body>

</html>