{% extends "base.html" %}
{% load static %}
{% block title %} Log in {% endblock %}
{% block content %}

<!--Adjust some of the bootstrap elements.-->
<style>
    a {
        text-decoration: none !important;
    }
</style>

<!--Use bootstrap to get a carousel for images.-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>


<div class="min-h-screen flex justify-center">
    <div class="py-6 px-4">
        <!--Grid to have login next to carousel.-->
        <div class="grid md:grid-cols-2 items-center gap-6 w-full max-w-6xl">
            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <div class="d-flex justify-content-center mb-4">
                    <!-- Display any errors with form if needed. -->
                    {% include "components/alerts.html" %}
                </div>

                <!--Login information.-->
                <div class="border border-slate-300 rounded-lg p-6 max-w-md shadow-[10px_10px_40px_-4px_rgba(2,125,150,0.8)] max-lg:mx-auto">
                    <div class="mb-12">
                        <h1 class="text-white text-3xl font-semibold">Sign in</h1>
                    </div>

                    <form method="POST" class="space-y-6">
                        {% csrf_token %}
                        <div>
                            <label for="email" class="block text-sm/6 font-medium text-gray-100">Email</label>
                            <div class="mt-2">
                                <input id="email" type="text" name="email" required autocomplete="email" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-[#027d96] sm:text-sm/6" />
                            </div>
                        </div>
        
                        <div>
                            <div class="flex items-center justify-between">
                                <label for="password" class="block text-sm/6 font-medium text-gray-100">Password</label>
                            </div>
                            
                            <div class="mt-2">
                                <input id="password" type="password" name="password" required autocomplete="current-password" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-[#027d96] sm:text-sm/6" />
                            </div>
                        </div>

                        <div>
                            <button type="submit" class="flex w-full justify-center rounded-md bg-[#027d96] px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-[#7699A9] focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#027d96]">Sign in</button>
                        </div>
                    </form>

                    <div class="my-2 flex items-center gap-4">
                        <hr class="w-full border-slate-300" />
                        <p class="text-sm text-white text-slate-900 text-center">or</p>
                        <hr class="w-full border-slate-300" />
                    </div>

                    <div>
                        <a href="{% url 'magic_login' %}" class="flex w-full justify-center bg-[#027d96] px-3 py-1.5 font-semibold text-white hover:bg-[#7699A9] focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#027d96]">Sign in with Magic Link</a>
                    </div>

                                
                    <p class="mt-10 pt-2 text-center text-sm/6 text-gray-400">
                        Don't have an account?
                        <a href="{% url 'signup' %}" class="font-semibold text-[#027d96] hover:text-[#7699A9]">Sign Up</a>
                    </p>
                </div>
            </div>

            <!--Carousel of images.-->
            <div class="max-lg:mt-2 lg:ml-35">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for movie in movies %}
                        {% if forloop.first %}
                            <div class="carousel-item active">
                        {% else %}
                            <div class="carousel-item">
                        {% endif %}
                        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="d-block mx-auto w-full object-cover img-fluid rounded shadow" alt="{{ movie.title }}">
                            </div>

                        {% endfor %}
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}